/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box{
      
        background-color: #2bb436;
        text-align: center;
        
    }
    .text{
        color: rgb(0, 0, 0);
        font-size: 20px;

    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .box{
     
        background-color: #ff0000;
        text-align: center;
        
    }
    .text{
        color: whitesmoke;
        font-size: 30px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .box{
     
        background-color: #000000;
        text-align: center;
        
    }
    .text{
        color: whitesmoke;
        font-size: 40px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .box{
     
        background-color: #ff9100;
        text-align: center;
        
    }
    .text{
        color: rgb(0, 0, 0);
        font-size: 60px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }